/* Стили для body и html */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}

/* Общие стили для элементов с классами .comment и .contact */
.comment, .contact {
    width: auto;
    height: auto;
}

/* Стили для контента формы связи */
.contact .contact_content {
/* Установка фонового изображения и его настройки */
background-image: url(../img/contact_bg.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
height: 640px;
padding: 0 80px;
}

/* Стили для формы связи */
.contact .contact_content .contact_form {
    /* Установка максимальной ширины, позиционирование и стилизация формы */
    max-width: 560px;
    position: absolute;
    right: 160px;
    padding: 0 95px;
    backdrop-filter: blur(20px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Стили для заголовка формы и формы в целом */
.contact .contact_content .contact_form .title {
    /* Отступ снизу заголовка */
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Стили для заголовка формы и формы в целом */
.contact .contact_content .contact_form .title, .contact .contact_content .contact_form form {
    /* Определяем стили для контейнера заголовка и формы */
    display: flex; /* Определяем стили для контейнера заголовка и формы */
    flex-direction: column; /* Определяем направление колонок (вертикальное) */
    justify-content: center; /* Выравнивание по центру по вертикали */
}

/* Стили для основного текста в заголовке */
.contact .contact_content .contact_form .title .main {
    /* Стили для основного текста */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}

/* Стили для дополнительного текста в заголовке */
.contact .contact_content .contact_form .title .other {
    /* Стили для дополнительного текста */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffc700;
    background: 0 0;
}

/* Стили для элементов .calendar, .description, .other */
.calendar, .description, .other {
    /* Общие стили для указанных элементов */
    width: auto;
    height: auto;
    background-color: #fff; /* Фоновый цвет белый */
}

/* Стили для формы ввода */
.contact .contact_content .contact_form form {
    width: 360px;
}

/* Стили для поля ввода */
    .contact .contact_content .contact_form form input {
        /* Стили для общих полей ввода */
        background: 0 0;
        border: 0;
        border-bottom: 1px solid #fff;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #fff;
    }

    /* Стили для полей ввода с id mail и tel внутри формы */
    .contact .contact_content .contact_form form #mail, .contact .contact_content .contact_form form #tel {
        /* Отступ сверху для полей с id mail и tel */
        margin-top: 45px;
    }
    
    /* Стили для поля ввода */
    .contact .contact_content .contact_form form input {
        background: 0 0;
        border: 0;
        border-bottom: 1px solid #fff;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #fff;
    }

    /* Стили для кнопки отправки формы */
    .contact .contact_content .contact_form .btn {
        /* Отступ сверху кнопки */
        margin-top: 60px;
    }

    .contact .contact_content .contact_form .btn button {
        /* Отступ сверху кнопки */
        padding: 15px 62px;
        background: linear-gradient(92.71deg, #0499dd 0, #17c1bc 100%);
        border-radius: 60px;
        border: 0;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #fff;
        cursor: pointer;
        transition: .5s ease all;
    }

/* Стили для элемента .error */
.error {
    /* Определение общих стилей для элемента .error */
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #fff; /* Цвет текста белый */
    margin-top: 10px; /* Отступ сверху */
}

/* Стили для подсказки об успешной отправке */
.success {
    /* Определение общих стилей для элемента .success */
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #fff; /* Цвет текста белый */
    margin-top: 10px; /* Отступ сверху */
}


    /* Медиа-запросы */
    @media (max-width: 20em) { /*(max-width: 320px)*/
        /* Медиа-запрос для экранов до 320px */
        .contact .contact_content .contact_form {
            padding: 0 0.5em;
            right: 0.5em;
        }
    
        .contact .contact_content .contact_form form {
            width: auto;
        }
    
        .contact .contact_content .contact_form .btn button {
            padding: 0.9375em 2.5em;
        }
    }
    
    @media (min-width: 20.0625em) and (max-width: 48em) { /*(min-width: 321px) and (max-width: 768px)*/
        /* Медиа-запрос для экранов от 321px до 768px */
        .contact .contact_content .contact_form {
            padding: 0 1.25em;
            right: 2em;
        }
    
        .contact .contact_content .contact_form form {
            width: auto;
        }
    
        .contact .contact_content .contact_form .btn button {
            padding: 0.9375em 3.125em;
        }
    }
    
    @media (min-width: 48.0625em) and (max-width: 64em) { /*(min-width: 769px) and (max-width: 1024px)*/
         /* Медиа-запрос для экранов от 769px до 1024px */
        .contact .contact_content .contact_form {
            padding: 0 2.5em;
            right: 4em;
        }
    
        .contact .contact_content .contact_form form {
            width: auto;
        }
    
        .contact .contact_content .contact_form .btn button {
            padding: 0.9375em 3.75em;
        }
    }