.slider-container {
  font-family: "Montserrat", sans-serif;
  max-width: 1080px;
  margin: 0 auto;
}
@media screen and (max-width: 950px) {
  .slider-container {
    width: 80vw;
    margin: 0 auto;
  }
}
@media screen and (max-width: 450px) {
  .slider-container {
    text-align: center;
  }
}

.slider-h2 {
  color: #0499dd;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 70px;
}
@media screen and (max-width: 950px) {
  .slider-h2 {
    text-align: center;
  }
}

.slider {
  width: 360px;
  height: 497px;
  position: relative;
  margin: 0 autO;
}
.slider img {
  max-width: 360px;
  width: 100%;
}

.slider-line {
  display: flex;
  position: relative;
}
@media screen and (max-width: 950px) {
  .slider-line {
    justify-content: center;
  }
}
@media screen and (max-width: 950px) {
  .slider-line :first-child,
  .slider-line :last-child {
    display: none;
  }
}

.slider-card {
  position: relative;
  color: #fff;
  max-width: 360px;
  width: 100%;
  height: 497px;
  margin-right: 20px;
}
@media screen and (max-width: 950px) {
  .slider-card {
    max-width: 360px;
  }
}
@media screen and (max-width: 950px) {
  .slider-card :first-child,
  .slider-card :last-child {
    display: block;
  }
}

.slider-card-container {
  padding: 0 18px;
}

.slider-card__type {
  padding-top: 211px;
  font-size: 12px;
}

.slider-card__h3 {
  color: yellow;
  font-size: 14px;
}

.slider-card__text {
  font-size: 12px;
}

.slider-2 {
  width: 740px;
  height: 332px;
  position: relative;
}
@media screen and (max-width: 1600px) {
  .slider-2 {
    overflow: hidden;
  }
}

.slider-line-2 {
  width: 740px;
  height: 332px;
  position: absolute;
  transition: all ease 1s;
  left: 0;
  top: 0;
}

.slider2__info {
  margin-left: 28px;
}

.slider__review {
  max-width: 100%;
  display: flex;
  background-color: rgb(224, 224, 224);
  background-image: url(/assets/img/carousel.png);
  background-repeat: no-repeat;
  background-position: 90% 90%;
  padding: 45px;
  margin-right: 50px;
  border-radius: 10px;
}
@media screen and (max-width: 950px) {
  .slider__review {
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
    max-width: 95vw;
  }
}
@media screen and (max-width: 450px) {
  .slider__review {
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
    max-width: 95vw;
  }
}

.img__review {
  max-width: 100%;
}
@media screen and (max-width: 450px) {
  .img__review {
    display: none;
  }
}

.reviews__h3 {
  font-weight: 700;
  font-size: 14px;
}

.reviews__p {
  font-weight: 500;
  font-size: 14px;
}

.slider-arrows {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.arrow-left-3,
.arrow-right-3 {
  margin: 20px 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.arrow-left-3 path {
  fill: #9cb7cf;
  transition: fill 0.5s ease-out;
}

.arrow-right-3 path {
  fill: #9cb7cf;
  transition: fill 0.5s ease-out;
}

.arrow-left-3 {
  transform: rotate(180deg);
}

.arrow-left-3:hover path {
  fill: #0499dd;
}

.arrow-right-3:hover path {
  fill: #0499dd;
}

/*# sourceMappingURL=style.css.map */
